
server {
    listen {{ nginx_port_no_tls }};
    root /usr/share/nginx/html;
    index index.html index.htm;
    server_name {{ ansible_host }};
    location / {
            try_files $uri $uri/ =404;
    }
}